{:app
 {:database
  {:adapter            "postgresql"
   :username           #or [#env "RCR_APP_DB_USERNAME" "postgres"]
   :password           #or [#env "RCR_APP_DB_PASSWORD" "postgres"]
   :database-name      #or [#env "RCR_APP_DB_NAME" "postgres"]
   :server-name        #or [#env "RCR_APP_DB_SERVER" "localhost"]
   :port-number        #or [#env "RCR_APP_DB_PORT" 5432]}}}
